In [2]:
# https://data.seoul.go.kr/dataList/OA-21223/S/1/datasetView.do 행정동별 대중교통 총 승차 승객수 정보
import requests

url= "http://openapi.seoul.go.kr:8088/(인증키)/json/tpssPassengerCnt/1/5/"
req = requests.get(url)
print(req)

<Response [200]>

In [3]:
import requests
import json
import pandas as pd

SERVICE_KEY = '69576567536c736f3133357542784147'

data = None
for j in range(1, 200):
    url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/Json/tpssPassengerCnt/{1+(j-1)*1000}/{j*1000}/'
    # print(url)
    req = requests.get(url)
    content = req.json()
    con = content['tpssPassengerCnt']['row']
    result = pd.DataFrame(con)
    data = pd.concat([data, result])
data = data.reset_index(drop=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199000 entries, 0 to 198999
Data columns (total 27 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CRTR_DT        199000 non-null  object
 1   ADMDONG_ID     199000 non-null  object
 2   PSGR_CNT       199000 non-null  float64
 3   PSGR_CNT_00HH  199000 non-null  float64
 4   PSGR_CNT_01HH  199000 non-null  float64
 5   PSGR_CNT_02HH  199000 non-null  float64
 6   PSGR_CNT_03HH  199000 non-null  float64
 7   PSGR_CNT_04HH  199000 non-null  float64
 8   PSGR_CNT_05HH  199000 non-null  float64
 9   PSGR_CNT_06HH  199000 non-null  float64
 10  PSGR_CNT_07HH  199000 non-null  float64
 11  PSGR_CNT_08HH  199000 non-null  float64
 12  PSGR_CNT_09HH  199000 non-null  float64
 13  PSGR_CNT_10HH  199000 non-null  float64
 14  PSGR_CNT_11HH  199000 non-null  float64
 15  PSGR_CNT_12HH  199000 non-null  float64
 16  PSGR_CNT_13HH  199000 non-null  float64
 17  PSGR_CNT_14HH  199000 non-null  float64
 18  PSGR_CNT_15HH  199000 non-null  float64
 19  PSGR_CNT_16HH  199000 non-null  float64
 20  PSGR_CNT_17HH  199000 non-null  float64
 21  PSGR_CNT_18HH  199000 non-null  float64
 22  PSGR_CNT_19HH  199000 non-null  float64
 23  PSGR_CNT_20HH  199000 non-null  float64
 24  PSGR_CNT_21HH  199000 non-null  float64
 25  PSGR_CNT_22HH  199000 non-null  float64
 26  PSGR_CNT_23HH  199000 non-null  float64
dtypes: float64(25), object(2)
memory usage: 41.0+ MB

In [4]:
data.tail()

,CRTR_DT,ADMDONG_ID,PSGR_CNT,PSGR_CNT_00HH,PSGR_CNT_01HH,PSGR_CNT_02HH,PSGR_CNT_03HH,PSGR_CNT_04HH,PSGR_CNT_05HH,PSGR_CNT_06HH,...,PSGR_CNT_14HH,PSGR_CNT_15HH,PSGR_CNT_16HH,PSGR_CNT_17HH,PSGR_CNT_18HH,PSGR_CNT_19HH,PSGR_CNT_20HH,PSGR_CNT_21HH,PSGR_CNT_22HH,PSGR_CNT_23HH
198995,20220503,1123078,22042.0,214.0,33.0,25.0,22.0,40.0,241.0,436.0,...,920.0,1084.0,1329.0,1658.0,2513.0,1574.0,1011.0,1004.0,951.0,402.0
198996,20220503,1125059,3639.0,8.0,1.0,3.0,0.0,15.0,77.0,278.0,...,134.0,164.0,204.0,172.0,187.0,140.0,74.0,72.0,39.0,26.0
198997,20220503,1124058,12714.0,110.0,2.0,4.0,3.0,33.0,161.0,440.0,...,502.0,510.0,573.0,684.0,1083.0,548.0,520.0,628.0,554.0,255.0
198998,20220503,1124067,22179.0,28.0,1.0,0.0,0.0,36.0,311.0,973.0,...,873.0,952.0,1184.0,1470.0,1773.0,974.0,744.0,633.0,484.0,160.0
198999,20220503,1124057,11167.0,17.0,1.0,0.0,0.0,7.0,111.0,427.0,...,402.0,489.0,568.0,715.0,1160.0,553.0,444.0,529.0,490.0,92.0

In [5]:
data_1 = data[['CRTR_DT', 'ADMDONG_ID', 'PSGR_CNT']]
data_1

         CRTR_DT ADMDONG_ID  PSGR_CNT
0       20230816    1117064   11638.0
1       20230816    1113052   18762.0
2       20230816    1112068    9455.0
3       20230816    1112073   12355.0
4       20230816    1112056   18864.0
...          ...        ...       ...
198995  20220503    1123078   22042.0
198996  20220503    1125059    3639.0
198997  20220503    1124058   12714.0
198998  20220503    1124067   22179.0
198999  20220503    1124057   11167.0

[199000 rows x 3 columns]

In [6]:
data_1.columns = ['날짜', '행정동', '승객수']
data_2 = data_1.copy()
data_2

              날짜      행정동      승객수
0       20230816  1117064  11638.0
1       20230816  1113052  18762.0
2       20230816  1112068   9455.0
3       20230816  1112073  12355.0
4       20230816  1112056  18864.0
...          ...      ...      ...
198995  20220503  1123078  22042.0
198996  20220503  1125059   3639.0
198997  20220503  1124058  12714.0
198998  20220503  1124067  22179.0
198999  20220503  1124057  11167.0

[199000 rows x 3 columns]

### 행정동 ID를 행정동으로 바꾸기

In [7]:
# https://data.seoul.go.kr/dataList/OA-21234/S/1/datasetView.do 서울시 읍면동마스터 정보
import requests

url= "http://openapi.seoul.go.kr:8088/(인증키)/json/districtEmd/1/5/"
req = requests.get(url)
print(req)

<Response [200]>

In [8]:
import requests
import json
import pandas as pd

SERVICE_KEY = '69576567536c736f3133357542784147'

df = None
for j in range(1, 3):
    url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/Json/districtEmd/{1+(j-1)*1000}/{j*1000}/'
    # print(url)
    req = requests.get(url)
    content = req.json()
    con = content['districtEmd']['row']
    result = pd.DataFrame(con)
    df = pd.concat([df, result])
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ADMDONG_ID  1136 non-null   object
 1   ADMDONG_NM  1136 non-null   object
 2   ATDRC_NM    1136 non-null   object
 3   SIDO_NM     1136 non-null   object
dtypes: object(4)
memory usage: 35.6+ KB

In [9]:
df

     ADMDONG_ID ADMDONG_NM ATDRC_NM SIDO_NM
0       1101053        사직동      종로구      서울
1       1101054        삼청동      종로구      서울
2       1101055        부암동      종로구      서울
3       1101056        평창동      종로구      서울
4       1101057        무악동      종로구      서울
...         ...        ...      ...     ...
1131    3138037        청운면      양평군     경기도
1132    3138038        양동면      양평군     경기도
1133    3138039        지평면      양평군     경기도
1134    3138040        용문면      양평군     경기도
1135    3138041        개군면      양평군     경기도

[1136 rows x 4 columns]

In [10]:
data_dong = df.loc[df['SIDO_NM'] == '서울']
data_dong_1 = data_dong.copy()
data_dong_1

    ADMDONG_ID ADMDONG_NM ATDRC_NM SIDO_NM
0      1101053        사직동      종로구      서울
1      1101054        삼청동      종로구      서울
2      1101055        부암동      종로구      서울
3      1101056        평창동      종로구      서울
4      1101057        무악동      종로구      서울
..         ...        ...      ...     ...
419    1125070       둔촌1동      강동구      서울
420    1125071       둔촌2동      강동구      서울
421    1125072       암사1동      강동구      서울
422    1125073       천호2동      강동구      서울
423    1125074         길동      강동구      서울

[424 rows x 4 columns]

In [11]:
data_dong_1

    ADMDONG_ID ADMDONG_NM ATDRC_NM SIDO_NM
0      1101053        사직동      종로구      서울
1      1101054        삼청동      종로구      서울
2      1101055        부암동      종로구      서울
3      1101056        평창동      종로구      서울
4      1101057        무악동      종로구      서울
..         ...        ...      ...     ...
419    1125070       둔촌1동      강동구      서울
420    1125071       둔촌2동      강동구      서울
421    1125072       암사1동      강동구      서울
422    1125073       천호2동      강동구      서울
423    1125074         길동      강동구      서울

[424 rows x 4 columns]

In [12]:
data_dong_1.loc[data_dong_1['ATDRC_NM'] == '종로구']

   ADMDONG_ID   ADMDONG_NM ATDRC_NM SIDO_NM
0     1101053          사직동      종로구      서울
1     1101054          삼청동      종로구      서울
2     1101055          부암동      종로구      서울
3     1101056          평창동      종로구      서울
4     1101057          무악동      종로구      서울
5     1101058          교남동      종로구      서울
6     1101060          가회동      종로구      서울
7     1101061  종로1,2,3,4가동      종로구      서울
8     1101063      종로5,6가동      종로구      서울
9     1101064          이화동      종로구      서울
10    1101067         창신1동      종로구      서울
11    1101068         창신2동      종로구      서울
12    1101069         창신3동      종로구      서울
13    1101070         숭인1동      종로구      서울
14    1101071         숭인2동      종로구      서울
15    1101072        청운효자동      종로구      서울
16    1101073          혜화동      종로구      서울

### 행정구로 추출 -> 행정동 입력

### 행정구 입력하기

In [13]:
data_2.loc[data_2['행정동'].str.contains('1101'), '행정구'] = '종로구' 
data_2.loc[data_2['행정동'].str.contains('1102'), '행정구'] = '중구' 
data_2.loc[data_2['행정동'].str.contains('1103'), '행정구'] = '용산구' 
data_2.loc[data_2['행정동'].str.contains('1104'), '행정구'] = '성동구' 
data_2.loc[data_2['행정동'].str.contains('1105'), '행정구'] = '광진구' 
data_2.loc[data_2['행정동'].str.contains('1106'), '행정구'] = '동대문구' 
data_2.loc[data_2['행정동'].str.contains('1107'), '행정구'] = '중랑구'
data_2.loc[data_2['행정동'].str.contains('1108'), '행정구'] = '성북구' 
data_2.loc[data_2['행정동'].str.contains('1109'), '행정구'] = '강북구' 
data_2.loc[data_2['행정동'].str.contains('1110'), '행정구'] = '도봉구'
data_2.loc[data_2['행정동'].str.contains('1111'), '행정구'] = '노원구'
data_2.loc[data_2['행정동'].str.contains('1112'), '행정구'] = '은평구'
data_2.loc[data_2['행정동'].str.contains('1113'), '행정구'] = '서대문구'
data_2.loc[data_2['행정동'].str.contains('1114'), '행정구'] = '마포구'
data_2.loc[data_2['행정동'].str.contains('1115'), '행정구'] = '양천구'
data_2.loc[data_2['행정동'].str.contains('1116'), '행정구'] = '강서구'
data_2.loc[data_2['행정동'].str.contains('1117'), '행정구'] = '구로구'
data_2.loc[data_2['행정동'].str.contains('1118'), '행정구'] = '금천구'
data_2.loc[data_2['행정동'].str.contains('1119'), '행정구'] = '영등포구'
data_2.loc[data_2['행정동'].str.contains('1120'), '행정구'] = '동작구'
data_2.loc[data_2['행정동'].str.contains('1121'), '행정구'] = '관악구'
data_2.loc[data_2['행정동'].str.contains('1122'), '행정구'] = '서초구'
data_2.loc[data_2['행정동'].str.contains('1123'), '행정구'] = '강남구'
data_2.loc[data_2['행정동'].str.contains('1124'), '행정구'] = '송파구'
data_2.loc[data_2['행정동'].str.contains('1125'), '행정구'] = '강동구'
data_2

              날짜      행정동      승객수   행정구
0       20230816  1117064  11638.0   구로구
1       20230816  1113052  18762.0  서대문구
2       20230816  1112068   9455.0   동작구
3       20230816  1112073  12355.0   동작구
4       20230816  1112056  18864.0   동작구
...          ...      ...      ...   ...
198995  20220503  1123078  22042.0   강남구
198996  20220503  1125059   3639.0   강동구
198997  20220503  1124058  12714.0   송파구
198998  20220503  1124067  22179.0   송파구
198999  20220503  1124057  11167.0   송파구

[199000 rows x 4 columns]

In [14]:
data_3 = data_2.set_index(['날짜', '행정구'])
data_3

                   행정동      승객수
날짜       행정구
20230816 구로구   1117064  11638.0
         서대문구  1113052  18762.0
         동작구   1112068   9455.0
         동작구   1112073  12355.0
         동작구   1112056  18864.0
...                ...      ...
20220503 강남구   1123078  22042.0
         강동구   1125059   3639.0
         송파구   1124058  12714.0
         송파구   1124067  22179.0
         송파구   1124057  11167.0

[199000 rows x 2 columns]

In [22]:
data_3.to_csv("날짜별행정구별_승객수.csv")

In [16]:
data_4 = data_2.set_index(['행정구'])
data_4

            날짜      행정동      승객수
행정구
구로구   20230816  1117064  11638.0
서대문구  20230816  1113052  18762.0
동작구   20230816  1112068   9455.0
동작구   20230816  1112073  12355.0
동작구   20230816  1112056  18864.0
...        ...      ...      ...
강남구   20220503  1123078  22042.0
강동구   20220503  1125059   3639.0
송파구   20220503  1124058  12714.0
송파구   20220503  1124067  22179.0
송파구   20220503  1124057  11167.0

[199000 rows x 3 columns]

- 종로구

In [17]:
data_2_jongro = data_2[data_2['행정동'].astype(str).str.contains('1101')]
data_2_jongro

              날짜      행정동      승객수  행정구
39      20230816  1101070   6326.0  종로구
40      20230816  1101063  73507.0  종로구
169     20230816  1101060   2426.0  종로구
170     20230816  1101058  11038.0  종로구
171     20230816  1101057   2056.0  종로구
...          ...      ...      ...  ...
198983  20220503  1101072   7735.0  종로구
198984  20220503  1101069   5539.0  종로구
198986  20220503  1101067  11045.0  종로구
198987  20220503  1101064  51722.0  종로구
198991  20220503  1101073  17366.0  종로구

[7981 rows x 4 columns]

In [18]:
data_dong_1.loc[data_dong_1['ATDRC_NM'] == '강동구']

    ADMDONG_ID ADMDONG_NM ATDRC_NM SIDO_NM
406    1125051        강일동      강동구      서울
407    1125052        상일동      강동구      서울
408    1125053       명일1동      강동구      서울
409    1125054       명일2동      강동구      서울
410    1125055       고덕1동      강동구      서울
411    1125056       고덕2동      강동구      서울
412    1125058       암사2동      강동구      서울
413    1125059       암사3동      강동구      서울
414    1125061       천호1동      강동구      서울
415    1125063       천호3동      강동구      서울
416    1125065       성내1동      강동구      서울
417    1125066       성내2동      강동구      서울
418    1125067       성내3동      강동구      서울
419    1125070       둔촌1동      강동구      서울
420    1125071       둔촌2동      강동구      서울
421    1125072       암사1동      강동구      서울
422    1125073       천호2동      강동구      서울
423    1125074         길동      강동구      서울

In [19]:
data_3_jongro = data_2_jongro['행정동'].replace(to_replace={'1101053': '사직동', '1101054': '삼청동', '1101055': '부암동', '1101056':'평창동', '1101057': '무악동',
                             '1101058': '교남동', '1101060': '가회동', '1101061': '종로1,2,3,4가동', '1101063': '종로5,6가동',
                             '1101064':'이화동', '1101067':'창신1동', '1101068': '창신2동', '1101069': '창신3동', '1101070': '숭인1동',
                             '1101071': '숭인2동', '1101072': '청운효자동', '1101073': '혜화동'})

In [20]:
data_2_jongro

              날짜      행정동      승객수  행정구
39      20230816  1101070   6326.0  종로구
40      20230816  1101063  73507.0  종로구
169     20230816  1101060   2426.0  종로구
170     20230816  1101058  11038.0  종로구
171     20230816  1101057   2056.0  종로구
...          ...      ...      ...  ...
198983  20220503  1101072   7735.0  종로구
198984  20220503  1101069   5539.0  종로구
198986  20220503  1101067  11045.0  종로구
198987  20220503  1101064  51722.0  종로구
198991  20220503  1101073  17366.0  종로구

[7981 rows x 4 columns]

In [21]:
data_2_jongro.loc[data_2_jongro['날짜'] == '20230816']

           날짜      행정동       승객수  행정구
39   20230816  1101070    6326.0  종로구
40   20230816  1101063   73507.0  종로구
169  20230816  1101060    2426.0  종로구
170  20230816  1101058   11038.0  종로구
171  20230816  1101057    2056.0  종로구
172  20230816  1101055    8904.0  종로구
173  20230816  1101054    4630.0  종로구
174  20230816  1101053   87726.0  종로구
251  20230816  1101073   17134.0  종로구
252  20230816  1101072    7831.0  종로구
253  20230816  1101069    4935.0  종로구
254  20230816  1101067   10700.0  종로구
255  20230816  1101064   53865.0  종로구
324  20230816  1101071   21722.0  종로구
335  20230816  1101061  192604.0  종로구
354  20230816  1101068      92.0  종로구
364  20230816  1101056    9327.0  종로구