In [2]:
## https://data.seoul.go.kr/dataList/OA-15818/S/1/datasetView.do 서울시 공동주택 아파트 정보
import requests

url= "http://openapi.seoul.go.kr:8088/69576567536c736f3133357542784147/Json/OpenAptInfo/1/1000/"
req = requests.get(url)
print(req)

<Response [200]>

In [4]:
# json_df = req.json()
# json_df

In [3]:
# import pandas as pd

# apt = json_df['OpenAptInfo']['row']
# data_1 = pd.DataFrame(apt)
# print(data_1)

         SN   APT_CODE      APT_NM CODEAPTNM KAPTADDR                DOROJUSO  \
0       1.0  A15679103       우리유앤미       아파트                 서울특별시 동작구 서달로 83
1       2.0  A13876112  송파파인타운13단지       아파트              서울특별시 송파구 송파대로8길 10
2       3.0  A13873701  오금현대백조(임대)       아파트             서울특별시 송파구 양재대로72길 20
3       4.0  A15275101        개봉건영       아파트           서울특별시 구로구 고척로21나길 85-6
4       6.0  A13991016    월계동원베네스트       아파트              서울특별시 노원구 월계로53길 21
..      ...        ...         ...       ...      ...                     ...
995  1028.0  A15788203     화곡중앙하이츠       아파트             서울특별시 강서구 강서로17가길 46
996  1029.0  A12009202     홍제삼성래미안       아파트               서울특별시 서대문구 통일로 319
997  1030.0  A12282203    구산경남아너스빌       아파트              서울특별시 은평구 갈현로11길 46
998  1031.0  A13202308     방학삼익세라믹       아파트                 서울특별시 도봉구 도당로 41
999  1032.0  A13583403   대치우성1차아파트       아파트               서울특별시 강남구 영동대로 230

    ADRES_CITY ADRES_GU ADRES_DONG         ADRES_RMNDR  ... CLN_CTMANAGESTLE  \
0           서울      동작구        흑석동            우리유앤미아파트  ...               위탁
1           서울      송파구        장지동                 857  ...               위탁
2           서울      송파구        오금동                20-2  ...               위탁
3           서울      구로구        개봉동                47-1  ...               위탁
4           서울      노원구        월계동  서울시 노원구 월계2동 940번지  ...               위탁
..         ...      ...        ...                 ...  ...              ...
995         서울      강서구        화곡동            351-89번지  ...               위탁
996         서울     서대문구        홍제동               461번지  ...               위탁
997         서울      은평구        구산동                 224  ...               위탁
998         서울      도봉구        방학동                 274  ...               위탁
999         서울      강남구        대치동                  63  ...               위탁

       BU_AR CNT_PA GUBUN           USE_CONFM_DE USE_TY MANUAL_INPUT  \
0    1773.56  223.0    의무  2018-04-10 15:59:42.0      Y            N
1       0.00  225.0    의무  2013-06-17 19:03:30.0      Y            N
2    6892.79   60.0    임대  2013-11-21 16:43:07.0      Y            N
3       0.00    0.0    의무  2013-06-23 11:30:23.0      Y            N
4       0.00  206.0    의무  2015-06-19 09:59:49.0      Y            N
..       ...    ...   ...                    ...    ...          ...
995     0.00  165.0    의무  2018-03-31 20:14:49.0      Y            N
996     0.00  519.0    의무  2013-06-18 10:28:14.0      Y            N
997     0.00  627.0    의무  2013-06-23 15:14:53.0      Y            N
998     0.00  260.0    의무  2015-03-16 11:25:04.0      Y            N
999     0.00  479.0    의무  1984-01-27 00:00:00.0      Y            N

          X_CODE      Y_CODE             USE_RQSTDT
0    126.9596386  37.5006676  2013-03-07 09:46:59.0
1    127.1291789  37.4768967  2013-03-07 09:46:59.0
2    127.1287745  37.5089058  2013-03-07 09:46:59.0
3    126.8406749  37.5011622  2013-03-07 09:46:59.0
4    127.0582196   37.631732  2013-03-07 09:46:59.0
..           ...         ...                    ...
995  126.8437889  37.5355465  2013-03-07 09:46:50.0
996  126.9508555  37.5784484  2013-03-07 09:46:43.0
997  126.9054804  37.6055438  2013-03-07 09:46:43.0
998  127.0340669  37.6611543  2013-03-07 09:46:43.0
999  127.0691055  37.5002345  2013-03-07 09:46:43.0

[1000 rows x 48 columns]

In [12]:
import requests
import json
import pandas as pd

SERVICE_KEY = '69576567536c736f3133357542784147'

data = None
for j in range(1, 4):
    url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/Json/OpenAptInfo/{1+(j-1)*1000}/{j*1000}/'
    # print(url)
    req = requests.get(url)
    content = req.json()
    con = content['OpenAptInfo']['row']
    result = pd.DataFrame(con)
    data = pd.concat([data, result])
data = data.reset_index(drop=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SN                         2753 non-null   float64
 1   APT_CODE                   2753 non-null   object
 2   APT_NM                     2753 non-null   object
 3   CODEAPTNM                  2753 non-null   object
 4   KAPTADDR                   2753 non-null   object
 5   DOROJUSO                   2753 non-null   object
 6   ADRES_CITY                 2753 non-null   object
 7   ADRES_GU                   2753 non-null   object
 8   ADRES_DONG                 2753 non-null   object
 9   ADRES_RMNDR                2753 non-null   object
 10  ADRES_DORO                 2753 non-null   object
 11  ADRES_DORO_RMNDR           2753 non-null   object
 12  TELNO                      2753 non-null   object
 13  FXNUM                      2753 non-null   object
 14  CN_APT                     2753 non-null   object
 15  ATCH_FILE_ID               2753 non-null   object
 16  HSHLDR_TY                  2753 non-null   object
 17  GNRL_MANAGECT_MANAGE_STLE  2753 non-null   object
 18  CRRDPR_TY                  2753 non-null   object
 19  HEAT_MTHD                  2753 non-null   object
 20  ALL_DONG_CO                2753 non-null   float64
 21  ALL_HSHLD_CO               2753 non-null   float64
 22  CO_WO                      2753 non-null   object
 23  CO_EX                      2753 non-null   object
 24  USE_INSPCT_DE              2753 non-null   object
 25  TOTAR                      2753 non-null   float64
 26  PRIVAREA                   2753 non-null   float64
 27  MANAGECT_LEVY_AR           2753 non-null   float64
 28  KAPTMPAREA60               2753 non-null   object
 29  KAPTMPAREA85               2753 non-null   object
 30  KAPTMPAREA135              2753 non-null   object
 31  KAPTMPAREA136              2753 non-null   object
 32  HMPG                       2753 non-null   object
 33  API_INSERT_DATE            2753 non-null   object
 34  API_UPDATE_DATE            2753 non-null   object
 35  EMPLYMINSRNC_MANAGE_NO     2753 non-null   object
 36  EXPENSCTMANAGESTLE         2753 non-null   object
 37  HSHLD_ELCTY_CNTRCT_MTH     2753 non-null   object
 38  CLN_CTMANAGESTLE           2753 non-null   object
 39  BU_AR                      2753 non-null   float64
 40  CNT_PA                     2753 non-null   float64
 41  GUBUN                      2753 non-null   object
 42  USE_CONFM_DE               2753 non-null   object
 43  USE_TY                     2753 non-null   object
 44  MANUAL_INPUT               2753 non-null   object
 45  X_CODE                     2753 non-null   object
 46  Y_CODE                     2753 non-null   object
 47  USE_RQSTDT                 2753 non-null   object
dtypes: float64(8), object(40)
memory usage: 1.0+ MB

In [13]:
data.head()

,SN,APT_CODE,APT_NM,CODEAPTNM,KAPTADDR,DOROJUSO,ADRES_CITY,ADRES_GU,ADRES_DONG,ADRES_RMNDR,...,CLN_CTMANAGESTLE,BU_AR,CNT_PA,GUBUN,USE_CONFM_DE,USE_TY,MANUAL_INPUT,X_CODE,Y_CODE,USE_RQSTDT
0,1.0,A15679103,우리유앤미,아파트,,서울특별시 동작구 서달로 83,서울,동작구,흑석동,우리유앤미아파트,...,위탁,1773.56,223.0,의무,2018-04-10 15:59:42.0,Y,N,126.9596386,37.5006676,2013-03-07 09:46:59.0
1,2.0,A13876112,송파파인타운13단지,아파트,,서울특별시 송파구 송파대로8길 10,서울,송파구,장지동,857,...,위탁,0.00,225.0,의무,2013-06-17 19:03:30.0,Y,N,127.1291789,37.4768967,2013-03-07 09:46:59.0
2,3.0,A13873701,오금현대백조(임대),아파트,,서울특별시 송파구 양재대로72길 20,서울,송파구,오금동,20-2,...,위탁,6892.79,60.0,임대,2013-11-21 16:43:07.0,Y,N,127.1287745,37.5089058,2013-03-07 09:46:59.0
3,4.0,A15275101,개봉건영,아파트,,서울특별시 구로구 고척로21나길 85-6,서울,구로구,개봉동,47-1,...,위탁,0.00,0.0,의무,2013-06-23 11:30:23.0,Y,N,126.8406749,37.5011622,2013-03-07 09:46:59.0
4,6.0,A13991016,월계동원베네스트,아파트,,서울특별시 노원구 월계로53길 21,서울,노원구,월계동,서울시 노원구 월계2동 940번지,...,위탁,0.00,206.0,의무,2015-06-19 09:59:49.0,Y,N,127.0582196,37.631732,2013-03-07 09:46:59.0

In [15]:
data_apt = data.copy()

### 열 삭제하기

In [54]:
drop_columns = ['USE_RQSTDT', 'Y_CODE', 'X_CODE', 'EMPLYMINSRNC_MANAGE_NO', 'ATCH_FILE_ID', 'CN_APT', 'FXNUM', 'TELNO', 'APT_CODE', 'SN',
               'HMPG', 'API_INSERT_DATE', 'API_UPDATE_DATE', 'ADRES_CITY', 'KAPTADDR', 'ADRES_RMNDR', 'ADRES_DORO', 'ADRES_DORO_RMNDR', 'USE_TY',
               'HSHLD_ELCTY_CNTRCT_MTH', 'GNRL_MANAGECT_MANAGE_STLE', 'GUBUN', 'HSHLDR_TY', 'DOROJUSO']
data_apt_1 = data_apt.drop(labels = drop_columns, axis=1)
data_apt_1.head(2)

,APT_NM,CODEAPTNM,ADRES_GU,ADRES_DONG,CRRDPR_TY,HEAT_MTHD,ALL_DONG_CO,ALL_HSHLD_CO,CO_WO,CO_EX,...,KAPTMPAREA60,KAPTMPAREA85,KAPTMPAREA135,KAPTMPAREA136,EXPENSCTMANAGESTLE,CLN_CTMANAGESTLE,BU_AR,CNT_PA,USE_CONFM_DE,MANUAL_INPUT
0,우리유앤미,아파트,동작구,흑석동,혼합식,개별난방,2.0,206.0,우리건설,경수재건축조합,...,89,93,24,,위탁,위탁,1773.56,223.0,2018-04-10 15:59:42.0,N
1,송파파인타운13단지,아파트,송파구,장지동,계단식,개별난방,4.0,197.0,양우건설(주),SH공사,...,0,197,0,,위탁,위탁,0.00,225.0,2013-06-17 19:03:30.0,N

In [55]:
data_apt_2 = data_apt_1.sort_values(by='ADRES_GU')
data_apt_2.head(3)

,APT_NM,CODEAPTNM,ADRES_GU,ADRES_DONG,CRRDPR_TY,HEAT_MTHD,ALL_DONG_CO,ALL_HSHLD_CO,CO_WO,CO_EX,...,KAPTMPAREA60,KAPTMPAREA85,KAPTMPAREA135,KAPTMPAREA136,EXPENSCTMANAGESTLE,CLN_CTMANAGESTLE,BU_AR,CNT_PA,USE_CONFM_DE,MANUAL_INPUT
2287,강남한신휴플러스 8단지,아파트,강남구,율현동,계단식,개별난방,11.0,169.0,한신공영,에스에치공사,...,108,6,55,,위탁,위탁,5990.64,208.0,2015-09-23 00:00:00.0,N
2050,세곡리엔파크3단지,아파트,강남구,세곡동,혼합식,개별난방,7.0,363.0,신동아건설,서울시 SH공사,...,247,116,0,,위탁,위탁,5349.00,404.0,2015-10-27 15:42:14.0,N
1108,역삼아이파크,아파트,강남구,역삼동,혼합식,지역난방,7.0,541.0,현대산업개발(주),개나리2차저층재건축조합,...,178,0,240,,위탁,위탁,4056.98,914.0,2019-08-28 15:16:08.0,N

In [49]:
data_apt_2.KAPTMPAREA136.value_counts()

KAPTMPAREA136
      2750
1        1
0        1
70       1
Name: count, dtype: int64

In [56]:
data_apt_2.columns

Index(['APT_NM', 'CODEAPTNM', 'ADRES_GU', 'ADRES_DONG', 'CRRDPR_TY',
       'HEAT_MTHD', 'ALL_DONG_CO', 'ALL_HSHLD_CO', 'CO_WO', 'CO_EX',
       'USE_INSPCT_DE', 'TOTAR', 'PRIVAREA', 'MANAGECT_LEVY_AR',
       'KAPTMPAREA60', 'KAPTMPAREA85', 'KAPTMPAREA135', 'KAPTMPAREA136',
       'EXPENSCTMANAGESTLE', 'CLN_CTMANAGESTLE', 'BU_AR', 'CNT_PA',
       'USE_CONFM_DE', 'MANUAL_INPUT'],
      dtype='object')

In [60]:
col_list = ['아파트명', '단지분류', '시군구', '읍면동', '복도유형', '난방방식', '전체동수', '전체세대수', '시공사', '시행사', 
            '사용검사일~사용승인일', '연면적', '주거전용면적', '관리비부과면적', '세대현황(60m^2이하)', '세대현황(85m^2이하)', '세대현황(135m^2이하)',
           '세대현황(135m^2초과)', '경비비관리형태', '청소비관리형태', '건축면적', '주차대수', '단지승인일', '관리비업로드']
data_apt_2.columns = col_list
data_apt_2.head(1)

,아파트명,단지분류,시군구,읍면동,복도유형,난방방식,전체동수,전체세대수,시공사,시행사,...,세대현황(60m^2이하),세대현황(85m^2이하),세대현황(135m^2이하),세대현황(135m^2초과),경비비관리형태,청소비관리형태,건축면적,주차대수,단지승인일,관리비업로드
2287,강남한신휴플러스 8단지,아파트,강남구,율현동,계단식,개별난방,11.0,169.0,한신공영,에스에치공사,...,108,6,55,,위탁,위탁,5990.64,208.0,2015-09-23 00:00:00.0,N

In [66]:
drop_columns = ['경비비관리형태', '청소비관리형태', '관리비업로드', '시행사', '시공사']
data_apt_3 = data_apt_2.drop(labels = drop_columns, axis=1)
data_apt_3.head(5)

,아파트명,단지분류,시군구,읍면동,복도유형,난방방식,전체동수,전체세대수,사용검사일~사용승인일,연면적,주거전용면적,관리비부과면적,세대현황(60m^2이하),세대현황(85m^2이하),세대현황(135m^2이하),세대현황(135m^2초과),건축면적,주차대수,단지승인일
2287,강남한신휴플러스 8단지,아파트,강남구,율현동,계단식,개별난방,11.0,169.0,2015-09-23 00:00:00.0,29219.0,12839.0,29219.0,108,6,55,,5990.64,208.0,2015-09-23 00:00:00.0
2050,세곡리엔파크3단지,아파트,강남구,세곡동,혼합식,개별난방,7.0,363.0,2011-02-23 00:00:00.0,51339.0,23605.0,32882.0,247,116,0,,5349.00,404.0,2015-10-27 15:42:14.0
1108,역삼아이파크,아파트,강남구,역삼동,혼합식,지역난방,7.0,541.0,2006-09-28 00:00:00.0,109797.0,52063.0,65295.0,178,0,240,,4056.98,914.0,2019-08-28 15:16:08.0
2462,래미안개포루체하임,아파트,강남구,일원동,계단식,지역난방,12.0,850.0,2018-11-21 00:00:00.0,154730.0,71673.0,96467.0,210,395,239,,9904.39,1296.0,2019-06-17 16:41:33.0
931,역삼개나리래미안,아파트,강남구,역삼동,계단식,지역난방,7.0,438.0,2006-08-31 00:00:00.0,93113.0,44847.0,57362.0,88,133,143,,0.00,771.0,2013-06-23 14:25:02.0

In [67]:
data_apt_3.to_csv("apt_info.csv")